html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(22,201,181);
  color: white;
}

h1 {
  font-size: 7em
}

.app-name {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.description {
  margin-top: 50px;
}

.description-paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%;
}
