html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(22,201,181);
  color: white;
}


.app-name {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.description {
  margin-top: 50px;
}

.description-paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%;
}

ul, li {
  list-style: none;
}

nav {
  margin-top: 40px;
}

li a {
  font-size: 140%;
  border-bottom: 2px solid white;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #1684C9;
}

.release {
  background-color:  #1684C9;
  background: -webkit-linear-gradient(#16C9B5, #1684C9) no-repeat;
  background: -o-linear-gradient(#16C9B5, #1684C9) no-repeat;
  background: -moz-linear-gradient(#16C9B5, #1684C9) no-repeat;
  background: linear-gradient(#16C9B5, #1684C9) no-repeat;
}

.release body {
  background-color: transparent;
}
